@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --font-Outfit: 'Outfit', sans-serif;
  --font-Young-serif: 'Young serif', sans-serif;
  --nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rosewhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightgrey: hsl(30, 18%, 87%);
  --wengebrown: hsl(30, 10%, 34%);
  --mycolor: hsl(30, 10%, 53%);
  --darkcharcoal: hsl(24, 5%, 18%);
}

/* Presets CSS */
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background: var(--eggshell);
  color: var(--mycolor);
  font-family: var(--font-Outfit);
  font-weight: 600;
  line-height: 1.5rem;
}

.title {
  color: var(--nutmeg);
  font-family: var(--font-Young-serif);
  font-weight: lighter;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

section {
  margin-bottom: 2rem;
  background: var(--white);
}

::marker {
  line-height: 2rem;
}

.unordered ::marker {
  color: var(--darkRaspberry);
  font-size: 13px;
}

.unordered li {
  padding-left: 1rem;
}

span,
.ordered ::marker {
  font-weight: bold;
}

span {
  color: var(--wengebrown);
}

/* 		Main		___________________________________ */
main {
  margin: 8rem auto;
  padding: 40px;
  width: 738px;
  background: var(--white);
  border-radius: 30px;
}

/*		Recipe section			_______________________ */
.recipe-img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.recipe-title {
  color: var(--darkcharcoal);
  font-family: var(--font-Young-serif);
  font-weight: lighter;
  margin-bottom: 20px;
  font-size: 2.6rem;
  margin-block: 2.8rem;
  line-height: 2.2rem;
}

/*		Preparation section		_______________________ */
.preparation {
  background: var(--rosewhite);
  padding: 18px 10px;
  border-radius: 15px;
}

.preparation h3 {
  color: var(--darkRaspberry);
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.preparation .unordered {
  padding-left: 2.4rem;
}

.preparation .unordered span {
  padding-left: 0.2rem;
  margin-right: 0.2rem;
}

/*		Ingredients section		_______________________ */
.ingredients {
  border-bottom: 1px solid var(--lightgrey);
  padding-bottom: 2rem;
}

.unordered {
  padding-left: 1.2rem;
}

.unordered li {
  padding-left: 1.3rem;
}

/*		Instructions section	________________________*/
.instructions {
  border-bottom: 1px solid var(--lightgrey);
  padding-bottom: 2rem;
}

.ordered {
  padding-left: 1.5rem;
}

.ordered ::marker {
  color: var(--nutmeg);
}

.ordered li {
  padding-left: 1rem;
  margin-bottom: 0.3rem;
}

.ordered li span {
  margin-right: 0.3rem;
}

/*		Nutrition section		_______________________ */
table {
  width: 100%;
}

th,
td {
  border-bottom: 1px solid var(--lightgrey);
  padding: 1rem 0 0.8rem 2rem;
}

.measures {
  color: var(--nutmeg);
  padding-right: 1rem;
}

/* Media Queries 
	Mobile: 375px- ____________________________________	 */
@media screen and (max-width: 375px) {
  html {
    line-height: 1.6rem;
  }

  ::marker {
    line-height: 0;
  }

  main {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--white);
    border-radius: 30px;
  }

  section:not(.recipe) {
    margin-inline: 1.9rem;
  }

  /* Q recipe */
  .recipe-img {
    border-radius: 0;
  }

  .recipe-title {
    color: var(--darkcharcoal);
    font-family: var(--font-Young-serif);
    font-weight: lighter;
    font-size: 2.1rem;
    padding-inline: 0;
    margin: 2rem 0 1.8rem 0;
  }

  .recipe-title,
  .recipe-info {
    margin-inline: 1.9rem;
  }

  /* Q  Preparation  */
  .preparation {
    background: var(--rosewhite);
    padding: 20px 8px;
    border-radius: 15px;
  }

  .preparation h3 {
    color: var(--darkRaspberry);
    padding-left: 20px;
  }

  .ul ::marker {
    color: var(--darkRaspberry);
    font-size: 13px;
  }
}
